
html{
  box-sizing: border-box;
font-size: 1em;
line-height: 1.4;
}

*,*:before,*:after{
  box-sizing: inherit;
}



body{
  margin: 0 auto;
  background: #B2B2B2;
  font-family: 'Kanit', sans-serif;
}
.contenedor{
  width: 98%;
  margin: 0 auto;
}

.imgd img{

width: 350px; 
  
}
div.imgd{
  padding: 15px;
  width: 50%;
}
.imgd p{
  text-align: justify;
}

@media only screen and (min-width:480px){
  .contenedor{
    width: 95%;
  }
}
@media only screen and (min-width:768px){
  .contenedor{
    width: 90%;
  }
}@media only screen and (min-width:992px){
  .contenedor{
    width: 90%;
    max-width: 1100px;
  }
}
.seccion{
  padding: 30px 0;
  color: white;
}



h2{
  color: white;
  font-family: 'Courgette', cursive;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}
h3{
  font-size: 1.6em!important;
  color: #D2E33E;
  font-family: 'Kanit', sans-serif;
  margin: 0;
}
.button{
  background:#D2E33E;
  text-decoration: none;
  padding: 2px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
  transition: all .3s ease;
  border: 2px solid;
}

.button.transparente{
  background: 0 0;
  border-color: 2px solid #ffffff;
}
.button.transparente:hover{

  border-color: 2px solid #D2E33E;
}

.button:hover{
  background:  #BBCA39;
}
.float-right{
  float: right;
}
.seccion p{
  font-size: 1.2em;
  text-align: center;
}
h2::after{
  content: '';
  margin: 0 auto;
 background-image: url("img/separador.png");
 width: 100px;
 height: 30px;
 display: block;
 background-size: cover;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

div.hero {
  background-image:url("img/img2.jpg");
  height: 100vh;
  background-position: top center;
  background-size: cover;
}
div.contenido-header{
  padding-top:40px;
}
nav.redes-sociales{
  text-align: center;

}

div.barra{
 background-image: url("img/hack.png");
  padding:20px 0;
}

.fixed{
position:fixed;
  width:100%;
  top:0;
  left:0;
  z-index:2;
}

nav.redes-sociales a{
  color: #ffffff;
  font-size: 35px;
  margin-right: 20px;
}
nav.redes-sociales a:last-child{
  margin-right: 0;
}

div.informacion-evento{
  text-align: center;
  color: white;
}
@media only screen and (min-width:768px){
  div.informacion-evento{
    width: 70%;
    margin: 0 auto;
  margin-top: 20px;
  }

  div.contenido-header{
    padding-top: 10px;
  }

  h1.nombre-sitio {
    font-size: 11.5vw;
    margin: 0;
    line-height: 1;
  }


}



div.informacion-evento p {
  margin: 0;
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
}

div.informacion-evento p i{
color: #B23629;
font-size: 2.4em;
}

p.fecha{
  float:left;

}
p.ciudad{
float:right;
text-align:right;

}
p.slogan{
  text-transform: none!important;
}p.slogan span{
  font-weight: bold;
}
h1.nombre-sitio{
  font-size: 5.9vw;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
  padding-top: 40px;
}
div.logo{
width: 60%;
float: left;
}
div.logo img{
  width: 100%;
}

@media only screen and (min-width:768px) {
  div.logo{
  width: 23%;

  }
}
nav.navegacion-principal{
  display: none;
  width:100%;
}

nav.navegacion-principal a{
  font-family: 'Alfa Slab One', cursive;
  color:#394C84;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .9s ease;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
  nav.navegacion-principal a:hover{
  background: #D2E33E;
  }
  nav.navegacion-principal a:last-child{
    border: 2px solid #D2E33E;
    color: #D2E33E;
  }
nav.navegacion-principal a:last-child:hover{
  color: #394C84;
}

@media only screen and (min-width:768px){
  nav.navegacion-principal{
width: 67%;
float:right;
text-align: right;
display: block;
  }
  nav.navegacion-principal a{
margin-right: 10px;
padding: 10px 10px;
display: inline-block;
    width:auto;
}

nav.navegacion-principal a{

  padding: 10px 10px;
  display: inline-block;
  width: auto;
  text-align: center;
  margin:0 10px 0 0;
}
}
.clearfix {
overflow: hidden;
}


/**Menu mobil**/

div.menu-movil{
  width: 60px;
  display: block;
  float: right;
  text-align: right;
  margin: 12px;
}
div.menu-movil{
  cursor: pointer;
}
@media only screen and (min-width:768px){
  div.menu-movil{
    display:none;
  }
}

div.menu-movil span{
  height: 8px;
  margin-bottom: 6px;
  background-color: #394C84;
  display: block;
}


section.programa{
  position: relative;
  padding: 0;
}

div.contenedor-video{
width: 100% auto;
overflow-x: hidden;
}
div.contenedor-video img{

width:  100%;
height:  152vh;
  background-position: top center;
  background-size: cover;
}

div.contenido-programa{
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;

}

div.programa-evento{
  background-color: rgba(255, 255, 255, .2);
  padding:5px 15px 15px 15px;
  margin-top: 50px;

  width: 100%;
}
@media only screen and (min-width:768px){
  div.programa-evento{
    width: 70%;
  }
}
@media only screen and (min-width:992px){
  div.programa-evento{
    width: 50%;
  }
}


nav.menu-programa{
  width: 100%;
  border-bottom: 1px solid #D2E33E;
  padding-bottom: 10px;
}
nav.menu-programa a{
  display: block;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
font-size: 1.2em;
padding: 0 10px;
}
@media only screen and (min-width:768px){
  nav.menu-programa a{
    display: table;
  }
}
@media only screen and (min-width:768px){
  nav.menu-programa a{
    display: table-cell;
  }
}

nav.menu-programa i{
  color: #D2E33E;
  font-size: 1.7em;
}

div.detalle-evento{
  margin-top: 20px;
  border-bottom: 1px solid #D2E33E;
  padding: 0 20px;


}
div.detalle-evento:nth-child(2){
  border: none;
}


div.detalle-evento p{
  margin-bottom: 20px;
  font-size: 18px;
}



ul.lista-invitados{
margin: 70px ;
}
ul.lista-invitados li{
  padding: 10px ;
  float: left;

}

ul.lista-invitados img{
  width: 300px;
  height: 200px;
}

@media only screen and (min-width:480px){

  ul.lista-invitados li{
  width: 50%;
 
  }
}
@media only screen and (min-width:768px){

  ul.lista-invitados li{
  width: 33.3%;
  }
}

div.invitado {
  position: relative;
  overflow: hidden!important;
}
div.invitado img{
max-width: 100%;
filter: gray;
-webkit-filter: grayscale(1);
-transition: all .7s ease-in-out;
}
div.invitado:hover img{
-webkit-transform: scale(1.1);
filter: grayscale(0);
transform: translate(1);
}

div.invitado:hover p{
  bottom: -80px;
  opacity: 0;
}


div.invitado p{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 10px;
  margin:0 auto;
  background-color: rgba(0, 0, 0, 0.5);
width: 100%;
text-align: left;
font-family: 'Kanit', sans-serif;
color: #D2E33E;
text-transform: uppercase;
transition: all .7s ease-in-out;
}


ul.lista-precios > li{
padding: 10px;
}

@media only screen and (min-width:768px){
ul.lista-precios > li{
  float: left;
  width: 33.3%;
}
}

div.tabla-precio{
  border: 1px solid #e1e1e1;
  background: #ffffff;
  padding: 40px 0;
  text-align: center;
}
div.tabla-precio:hover{
  transform: scale(1.1);
  border: 1px solid #34EA9D;
  box-shadow: 0px 0px 50px #666;
  transition: all .3s ease;
}

.button.hollow,.button.hollow{
  background-color: white;
  color: #34EA9D;
}


div.tabla-precio li{
color: #424040;
}
div.tabla-precio ul li{
font-family: 'Merienda', cursive;
font-size: 14px;
padding: 20px;
text-transform: uppercase;
}

div.tabla-precio h3{
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
p.numero{
  color: #D73131;
  font-size: 4em;
  display: block;
  margin: 0 0 10px 0;
  font-family: 'Kanit', sans-serif;
}
div.tabla-precio p.numero{
  color: black;
  margin-top: 20px;
}


div.tabla-precio ul li i{

  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  font-size: 20px;
  color: green;

}

div.mapa{
  height: 420px;
  background: green;
}
section blockquote footer img{
width: 70%;
height: 170px;

}


div.testimoniales{
  padding-bottom: 20px;
}

div.testimonial{
  padding: 5px;
}

@media only screen and (min-width:769px){
  div.testimonial{
    float: left;
    width: 33.3%;
  }
}

blockquote{
  background: white;
  border: 1px solid #34EA9D;
  padding-bottom: 20px;
  margin: 0 0 10px 0;
  position: relative;
}
blockquote p{
  padding-left: 10px;
  color: black;
  text-align:right!important;
  font-size: 1em!important;
  font-family: 'Kanit', sans-serif;
}

blockquote i::before{
  position: absolute;
  left: 13px;
  top: 8px;
  font-size: 2em!important;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #34EA9D;
}

.info-testimonial span{
  color: black;
}

footer.info-testimonial{
  padding: 0;
}

footer.info-testimonial img{
float: left;
width: 60%;
border-radius: 50%!important;
margin-left: 20px;
}

footer.info-testimonial cite{
  text-align: left;
  color: #34EA9D;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 20px;
width: 66.6%;
float: right;
font-weight: bold;
font-style: normal;
}

footer.info-testimonial cite span{
  display: block;
  text-transform: none;
  margin-top: 10px;
}

div.newsletter{
  position: relative;
  height: auto;
}

.parallax{
  background-position: top center;
  background-size: cover;
}

div.newsletter{
background-image:url("img/img1.jpg")!important;
content: '';
}

div.newsletter .contenido {
  padding: 100px 0;
  color: #D73131;
  text-align: center;
  position: relative;
  font-weight: bold;
}

div.newsletter .contenido p{
  font-size: 1.8em;
  text-transform: uppercase;
}

div.newsletter .contenido h3{
font-size: 7vw!important;
   font-weight: bold;
  color: #D73131;
  text-transform: uppercase;
}


div.cuenta-regresiva ul li{
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  font-size: 2em;
text-align: center;
color: black;
}


@media only screen and (min-width:768px){
  div.cuenta-regresiva ul li{
    width: 25%;
    float: left;
  }
}

footer.site-footer{
  background: #353535;
  padding-top: 40px;
  margin-top: 20px;
}

footer .contenedor > div{
  color: #ffffff;
  padding: 0 20px;
  font-size: 12px;

}
@media only screen and (min-width:768px){
footer .contenedor > div{
  float: left;
  width: 33.3%;
}
}

footer h3{
  color:white;
text-transform: uppercase;
margin-bottom: 20px;
font-family: 'Kanit', sans-serif;
}

footer h3 span{
  color: #D73131;
}

footer .ultimos-tweets li{
  margin-bottom: 20px;
}

footer nav.redes-sociales{
  text-align: left;
}
p.copyright{
background: #2e2e2e;
color: white;
padding: 10px 0;
text-align: center;
margin: 0;
}
